.create-post-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: darkblue;
	color: white;
	font-size: 24px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	bottom: 20px;
	right: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	z-index: 1000;
}

/* .creatpost {
	display: flex;
	position: absolute;
	top: 70%;
	left: 90%;
}

.action-button {
	width: 10.3125rem;
	height: 10.3125rem;
	border-radius: 10.3125rem;
	opacity: 0.8;
	background: #1a335b;
}

.plus {
	background-image: url('../../assets/emptyHeart.png');
}

.none {
	display: none;
}

.display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	width: 38.1875rem;
	height: 28.9375rem;
	border-radius: 2.1875rem;
	background: #2f60e9;
	z-index: 3;
}

.containerMessages {
	width: 90%;
	height: 90%;
}

.messageCreatPost.messageCreatTweet {
	color: #fff;
	font-family: Inter;
	font-size: 3.125rem;
	font-style: normal;
	font-weight: 600;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}

.line.line2 {
	border-top: 1px solid #ffffff;
}

.display-opacity-div {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: #ede9e9;
	backdrop-filter: blur(25px);
	z-index: 2;
} */
