* {
	padding: 0;
	margin: 0;
}
.menu-bar {
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	padding-inline: 10rem;
	background-color: #181818;
}

.logo img,
.icons img {
	height: 2.5rem;
}

.search-box {
	flex-grow: 1; /* Hace que el input de búsqueda ocupe el espacio disponible */
	display: flex;
	justify-content: center;
}

.search-box input {
	width: 50%;
	padding: 5px 10px;
}

.icons {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

/* version responsive */

@media (max-width: 768px) {
	.menu-bar {
		justify-content: center;
	}

	.search-box,
	.search-box-input,
	.icons {
		display: none; /* Ocultar iconos y barra  */
	}
}
