* {
	padding: 0;
	margin: 0;
}

.menu-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	background-color: #181818;
}

.icons img {
	height: 40px;
	margin-right: 10px;
}

.logo img {
	height: 35px;
}

.search-box {
	flex-grow: 1;
	height: 40px;
	display: flex;
	justify-content: center;
}

.search-box-input {
	width: 30%;
	padding: 5px 10px;
	text-align: center;
	background-color: #2f60e9;
	color: white;
	border-radius: 20px;
	border: none;
	outline: none;
}

.icons {
	display: flex;
	justify-content: space-between;
	margin-right: 35px;
	width: 100px;
}

.search-box-input::placeholder {
	color: white;
}

/* version responsive */

@media (max-width: 768px) {
	.menu-bar {
		justify-content: center;
	}

	.search-box,
	.search-box-input,
	.icons {
		display: none; /* Ocultar iconos y barra  */
	}
}
