* {
	padding: 0;
	margin: 0;
	background-color: #181818;
	font-family: 'Inter', sans-serif;
}

.container {
	width: auto;
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	grid-template-rows: auto auto;
}
.container-post {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 8rem;
	margin-top: 2rem;
	box-sizing: border-box;
}
.container-tweet {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin-top: 1.5rem;
}

@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -1.5rem;
	}

	.container-post,
	.container-tweet {
		margin-right: 0;
		align-items: center;
		width: 90%;
	}
}
