* {
	padding: 0;
	margin: 0;
	background-color: #181818;
}

.container {
	display: flex;
	flex-direction: row;
}
.container-post {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding-left: 9.5rem;
	box-sizing: border-box;
}
.container-tweet {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-right: 9rem;
	box-sizing: border-box;
}
